.icon,
.invalidIcon {
  margin-bottom: 18px;
  font-size: 40px;
}

.icon {
  color: #3b82f6;
}

.invalidIcon {
  color: #ef4444;
}

.text,
.invalidText {
  margin-bottom: 12px;
  font-size: 16px;
}

.hint {
  color: #8c8c8c;
}
